html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 12px;
	font-family: '微软雅黑', Arial, Helvetica;
}

.container {
	width: 400px;
	height: 400px;
	background-color: grey;
	margin: 200px auto;
}