html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 12px;
	font-family: '微软雅黑', Arial, Helvetica;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #EAEBEC;
	overflow: hidden;
	text-align: center;
}